// variables
// colors
primary-orange = hsl(25, 97%, 53%)
lightest-gray = hsl(217, 12%, 63%)
mid-gray = hsl(216, 12%, 54%)
dark-blue = hsl(213, 19%, 18%)
darkest-blue = hsl(216, 12%, 8%)

black-gradient = radial-gradient(98.96% 98.96% at 50% 0%, hsla(215, 20%, 17%, 1) 0%, hsla(215, 24%, 12%, 1) 100%)

// text sizing
xl-text = 1.75em
lg-text = 1.5rem
md-text = 1rem
sm-text = 0.94rem
xs-text = 0.875rem

lh-24 = 24px
lh-22 = 22px

reg-weight = 400
bold-weight = 700

card-radius-lg = 30px
card-radius-sm = 15px
pill-radius = 22.5px

// global reset
*
*::before
*::after
  box-sizing border-box

*
  margin 0

html
body
  height 100%

body
  line-height 1.5
  -webkit-font-smoothing antialiased

svg
  display block
  max-width 100%

button
  font inherit

p
h2
button
.attribution
  font-family 'Overpass', sans-serif
  overflow-wrap break-word
// end global reset

// body styles
body
  background-color darkest-blue

main
  height 100%
  padding-bottom 2.5rem
  display flex
  justify-content center
  align-items center

// card styles
p
h2
button
  color white

h2
  margin-top 16px
  margin-bottom 10px
  font-size lg-text

.scale-opt
#submit-rating
h2
  font-weight bold-weight

.card-desc
.scale-opt
button
  font-size xs-text

.card
  width 327px
  height fit-content
  padding 24px 24px 32px 24px
  background-image black-gradient
  border-radius card-radius-sm
  text-align center

.circle-container
  width 42px
  height 42px
  display flex
  justify-content center
  align-items center
  background-color dark-blue
  color mid-gray
  border-radius 42px

#star
  color primary-orange

.card-desc
  line-height lh-22
  font-weight reg-weight
  color lightest-gray

#rating-scale
  display flex
  justify-content space-between
  margin 24px 0

.scale-opt
  &:hover
    background-color primary-orange
    color white

#submit-rating
  width 100%
  padding 12px 0
  background-color primary-orange
  border none
  border-radius 42px
  text-transform uppercase
  &:hover
    color primary-orange
    background-color white

// thank you state styles
.illustration > svg
  margin-top 10px
  margin-left auto
  margin-right auto

.pill
  margin 24px 48px
  padding 7px 0 3px 0
  border-radius pill-radius
  text-align center
  background-color dark-blue
  color primary-orange

// footer styles
footer
  width 100%
  position absolute
  bottom 0
  height 2.5rem
  text-align center

.attribution
  color white

.attribution a
  text-decoration none
  color mid-gray
  &:hover
    color primary-orange

// styles for js funtionality
// css class to hide elements using JS
.hide
  display none

// css class to apply styles to selected rating options
#isSelected
  background-color mid-gray
  color white
