// variables
// colors
primary-orange = hsl(25, 97%, 53%)
lightest-gray = hsl(217, 12%, 63%)
mid-gray = hsl(216, 12%, 54%)
dark-blue = hsl(213, 19%, 18%)
darkest-blue = hsl(216, 12%, 8%)

black-gradient = radial-gradient(98.96% 98.96% at 50% 0%, hsla(215, 20%, 17%, 1) 0%, hsla(215, 24%, 12%, 1) 100%)

// text sizing
xl-text = 1.75em
lg-text = 1.5rem
md-text = 1rem
sm-text = 0.94rem
xs-text = 0.875rem

lh-24 = 24px
lh-22 = 22px

reg-weight = 400
bold-weight = 700

card-radius-lg = 30px
card-radius-sm = 15px
pill-radius = 22.5px

// global reset
*
*::before
*::after
  box-sizing border-box

*
  margin 0

html
body
  height 100%

body
  line-height 1.5
  -webkit-font-smoothing antialiased

svg
  display block
  max-width 100%

button
  font inherit

p
h2
  overflow-wrap break-word

